/* Portfolio */

.portfolio__filtres {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtres__list:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtres__list--button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  @include font-filtres();
  color: $title-color;
  background-color: $secondary-bcd-color;
  @include transition(color);
  @include transition(box-shadow);

  &:hover,
  &:focus,
  &:active {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
  }
}

.portfolio__works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__works--list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work__link {
  @include transition(box-shadow);

  &:hover,
  &:focus {
    display: block;
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .work__backdrop,
  &:focus .work__backdrop {
    transform: translateY(0);
    opacity: 1;
  }
}

.work__thumb {
  position: relative;
  overflow: hidden;
}

.work__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-accent;
  @include transition(transform);
  transform: translateY(100%);
  opacity: 1;
}

.work__text {
  padding: 63px 24px 63px 24px;
  @include font-work-text();
  color: $white-color;
}

.work__title {
  @include font-work-title();
  color: $title-color;
}

.work__card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

.work__subtitle {
  margin-top: 4px;
  @include font-work-subtitle();
  color: $primary-text-color;
}
