// Team
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bcd-color;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin: 0;
  margin-bottom: 50px;
  @include font-pm(28, 0.03, bold, 33);
  text-align: center;
  color: $title-color;

  @include desktop {
    @include font-pm(36, 0.03, bold, 42);
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__part {
  flex-basis: calc(100% / 1);
  margin-left: 30px;
  margin-top: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $white-color;
  border-radius: 0px 0px 4px 4px;

  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
  }

  @include desktop {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__thumb {
  height: 460px;
  overflow: hidden;

  @include tablet {
    height: 374px;
  }

  @include desktop {
    height: 260px;
  }
}

.team__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title--name {
  margin: 0;
  padding: 0;
  @include font-pm(16, 0.03, 500, 19);
  text-align: center;
}

.team__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-bottom: 30px;
  @include font-pm(16, 0.03, normal, 19);
  text-align: center;
  color: $primary-text-color;
}

.social__list--link {
  fill: $icon-color;

  &:hover,
  &:focus {
    fill: $white-color;
    background-color: $accent-color;
  }
}
