//Color
$white-color: #ffffff;
$white-color-text: rgba(255, 255, 255, 0.6);
$icon-bcd: rgba(255, 255, 255, 0.1);

$black-color: #000000;
$title-color: #212121;
$dark-bcd-color: rgba(47, 48, 58, 1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$dark-bcd-tpnt-color: rgba(47, 48, 58, 0.4);

$primary-text-color: #757575;
$icon-color: #afb1b8;
$header-line: #ececec;
$secondary-bcd-color: #f5f4fa;
$border-mobile-color: rgba(33, 33, 33, 0.2);

$accent-color: rgba(33, 150, 243, 1);
$accent-color-active: rgba(24, 140, 232, 1);
$backdrop-accent: rgba(33, 150, 243, 0.9);

// adaptive layout
$mobile: 480;
$mobileMax: 479;
$tablet: 768;
$desktop: 1200;
